## 1. Basic operations

I am attempting to print the following mathematical operations, but it throws an error. 

(a) $16 \times 10$

(b) $48 \div 5 $

(c) $5^3$

Fix the code in the code block below to make it work correctly:

In [1]:
print(16*10) 
print(48/5) 
print(5^3)

160
9.6
6

## 2. Basic syntax and string formatting

|track\_name| price | currency | rating\_count\_tot | user\_rating |
| --- | --- | --- | --- | --- |
| Facebook | 0.0  | USD  | 2974676 | 3.5 |
| Instagram | 0.0  | USD  | 2161558 | 4.5 |
| Clash of Clans | 0.0  | USD  | 2130805 | 4.5 |
| Fruit Ninja Classic | 1.99  | USD  | 698516 | 4.5 |
| Minecraft: Pocket Edition | 6.99 | USD | 522012 | 4.5 |

1. Now I am attempting to use the $\textit{print()}$ function to display the results for the following operations, but I got an error here.   

- The cost of purchasing Instagram and Minecraft: Pocket Edition

- The difference in the average rating score for Facebook and Instagram

Fix the code in the code block below to make it work.

In [2]:
print(0.00 + 6.99) 
print(4.5 - 3.5)

6.99
1.0

2. Using the $\textit{print()}$ function, print out the cost of purchasing the Fruit Ninja Classic and the Minecraft: Pocket Edition apps. Refer to the table for the price of each app. Enter your code in the code block below.

In [3]:
print(1.99+6.99)

8.98

3. Store the value 6.99 in a variable named minecraft\_cost, and the result of 1.99 in a variable named fruit\_ninja\_cost. Using either the string method $\textit{format()}$ or an f-string combined with these variables, write code in the code block below that creates the following and then print each result:

    (a) A string that says "Minecraft: Pocket edition costs" followed by the cost

    (b) A string that says "Raising the price of Fruit Ninja by $1.99 would give a price of" followed by the amount

    (c) A string that says "Together, Fruit Ninja and Minecraft cost" followed by the cost

In [5]:
minecraft_cost = 6.99
fruit_ninja_cost = 1.99
price_raise = 1.99
a = f"Minecraft: Pocket edition costs {minecraft_cost}"
b = f"Raising the price of Fruit Ninja by ${price_raise} would give a price of {fruit_ninja_cost + price_raise}"
c = f"Together, Fruit Ninja and Minecraft cost ${minecraft_cost + fruit_ninja_cost}"
print(a)
print(b)
print(c)

Minecraft: Pocket edition costs 6.99
Raising the price of Fruit Ninja by $1.99 would give a price of 3.98
Together, Fruit Ninja and Minecraft cost $8.98

## Disarium

A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself. Write code that given a number, determines whether it is Disarium or not. Then check to see whether the following numbers are Disarium or not. Your code should create an output variable that is either True or False. Your code should be written generically enough that it will work for any positive integer that you start with. 

(a) $75$

(b) $135$

(c) $544$

(d) $518$

(e) $466$

In [23]:
p_num = [75,135,544,518,466]
for i in range(5):
    if (p_num[i]//100)**1 + (((p_num[i]//10)*10 - ((p_num[i]//100)*100))//10)**2 + (p_num[i] - ((p_num[i]//10)*10))**3 == p_num[i]:
        disarium = True
    else:
        disarium = False
    print(disarium)

False
True
False
True
False

## Lists

The number of birds present at a series of sampling sites has been counted by your field crew and entered into the following list. The first item in each sublist is an alphanumeric code for the site and the second value is the number of birds. Run the following code to load the data, and then write code to solve the questions below.

In [1]:
data = [['A1', 28], ['A2', 32], ['A3', 1], ['A4', 0],
        ['A5', 10], ['A6', 22], ['A7', 30], ['A8', 19],
		['B1', 145], ['B2', 27], ['B3', 36], ['B4', 25],
		['B5', 9], ['B6', 38], ['B7', 21], ['B8', 12],
		['C1', 122], ['C2', 87], ['C3', 36], ['C4', 3],
		['D1', 0], ['D2', 5], ['D3', 55], ['D4', 62],
		['D5', 98], ['D6', 32]]

1. How many sites are there?

In [28]:
print(len(data))

26

2. How many birds were counted at the 7th site?

In [11]:
print(data[6][1])

30

3. How many birds were counted at the last site?

In [12]:
print(data[25][1])

32

4. What is the total number of birds counted across all sites?

In [40]:
t = 0
for i in range(26):
    s = data[i][1]
    t += s
print(t)

955

5. What is the average number of birds seen on a site?

In [38]:
t = 0
for i in range(26):
    s = data[i][1]
    t += s
print(t/26)

36.73076923076923

6. What is the total number of birds counted on sites with codes beginning with C? Don’t just identify these sites by eye. In the real world there could be hundreds or thousands of sites. Write code that does this automatically.

In [74]:
c_list = [item for item in data if 'C' in item[0]]
t = 0
for i in range(len(c_list)):
    s = c_list[i][1]
    t += s
print(t)

248

## Sum of Odd and Even Numbers

Write a program to compute the sum of all even numbers, and the sum of all odd numbers in the following list.

In [49]:
l = [1, 2, 3, 4, 5, 6]
# expected output should be 2+4+6=12 and 1+3+5=9

In [58]:
even = l[1:6:2]
odd = l[0:5:2]
print(str(even[0])+"+"+str(even[1])+"+"+str(even[2])+ "="+str(sum(even)))
print(str(odd[0])+"+"+str(odd[1])+"+"+str(odd[2])+ "="+str(sum(odd)))

2+4+6=12
1+3+5=9

## Lists of Multiples

Use the $\textit{range()}$ function to generate a list of multiples described as follows:

(a) Generate the first $5$ multiples of the number $7$

(b) Generate the first $10$ multiples of $12$

(c) Generate the first $6$ multiples of $17$

In [ ]:
# for example: the expected output for (a) is [7, 14, 21, 28, 35]

In [67]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a_list = []
b_list = []
c_list = []
for i in range(5):
    a_list.append(7*n[i])
print(a_list)
for i in range(10):
    b_list.append(12*n[i])
print(b_list)
for i in range(6):
    c_list.append(17*n[i])
print(c_list)

[7, 14, 21, 28, 35]
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]
[17, 34, 51, 68, 85, 102]

## Remove items from a list while iterating

In this question, you will need to remove items from a list while iterating but without creating a different copy of that list. 

Remove numbers greater than 50 for the following list:

In [ ]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Expected Output ---> [10, 20, 30, 40, 50]

(a) Use for loop to complete this

In [50]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
n = number_list[0]
for n in range(0, 5):
    number_list.pop()
print(number_list)

[10, 20, 30, 40, 50]

(b) Use while loop to complete this

In [43]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
n = number_list[0]
while n < 60:
    number_list.pop()
    n += 10
print(number_list)

[10, 20, 30, 40, 50]