## Problem 1 --- Calculator

A) Write a function called calculator. It should take the following parameters: two numbers, an arithmetic operation (which can be addition, subtraction, multiplication or division and is addition by default), and an output format (which can be integer or floating point, and is floating point by default). Division should be floating-point division.

The function should perform the requested operation on the two input numbers, and return a result in the requested format (if the format is integer, the result should be rounded and not just truncated). Raise exceptions as appropriate if any of the parameters passed to the function are invalid.

In [29]:
# Let's use 'ADD', 'SUB', 'MUL', 'DIV' to represent the four arithmetic operations

def calculator(a, b, operation = 'ADD', output_format = float):
    if operation == 'ADD' and (output_format == float or output_format == int):
        return output_format(a + b)
    elif operation == 'SUB' and (output_format == float or output_format == int):
        return output_format(a - b)
    elif operation == 'MUL' and (output_format == float or output_format == int):
        return output_format(a * b)
    elif operation == 'DIV' and (output_format == float or output_format == int):
        return output_format(a / b)
    else:
        raise ValueError('Invalid operation or output format!')

In [30]:
# some example output
print(calculator(1, 2, 'ADD', float))

3.0

In [31]:
print(calculator(1, 2, 'ADD', int))

3

In [32]:
# raise exception when the operation is wrong
print(calculator(1, 2, 'Other', int))

ValueError: Invalid operation or output format!

In [33]:
# # raise exception when the output is wrong
print(calculator(1, 2, 'ADD', str))

ValueError: Invalid operation or output format!

B) Call the function with the following sets of parameters and check that the answer is correct:
1) 2, 3.0
2) 2, 3.0, output an integer
3) 2, 4.5, operation is division 
4) 3, 2.1, operation is division, output is an integer

In [37]:
print(calculator(2, 3.0))

5.0

In [38]:
print(calculator(2, 3.0, int))

ValueError: Invalid operation or output format!

In [39]:
print(calculator(2, 4.5, 'DIV'))

0.4444444444444444

In [40]:
print(calculator(3, 2.1, 'DIV', int))

1

C) Rewrite your calculator function so that it takes any number of number parameters. The function should apply the operation to the first two numbers, and then apply it again to the result and the next number, and so on. For example, if the numbers are 6, 3, 5, and 1 and the operation is subtraction, the the function should return 6 - 3 - 5 - 1. If only one number is entered, return it. If no numbers are entered, raise an exception.

In [8]:
def calculator(*nums, operation = 'ADD', output_format = float):
    if nums == ():
        raise ValueError('No numbers are given!')
    elif operation == 'ADD' and (output_format == float or output_format == int):
        return output_format(sum(nums))
    elif operation == 'SUB' and (output_format == float or output_format == int):
        return output_format(nums[0] - sum(nums[1:]))
    elif operation == 'MUL' and (output_format == float or output_format == int):
        result = 1
        for i in nums:
            result *= i
        return output_format(result)
    elif operation == 'DIV' and (output_format == float or output_format == int):
        result = nums[0]
        for i in nums[1:]:
            result /= i
        return output_format(result)
    else:
        raise ValueError('Invalid operation or output format!')

-3.0

In [10]:
print(calculator(6,3,5,1, operation='SUB'))
print(calculator(4))
print(calculator())

-3.0
4.0

ValueError: No numbers are given!

## Problem 2 --- Intersection of Two Dictionaries

Write a function that takes as input two different dictionaries and filters the keys in each dictionary to only keep keys that exist in both dictionaries. Store your result as a list with two dictionaries. If no keys are shared between both dictionaries, return a list of empty dictionaries (see last example).

In [12]:
def intersection(dict1, dict2):
    a = []
    a.append({key: dict1[key] for key in dict1 if key in dict2})
    a.append({key: dict2[key] for key in dict1 if key in dict2})
    return a

In [13]:
# examples
dict1 = {"a": 5, "b": 13, "c": 7}
dict2 = {"b": 5, "c": 8, "d": 91, "e": 99}
dict3 = {"a": 1, "b": 34}
dict4 = {"c": 9, "d": 8}

print(intersection(dict1, dict2))
print(intersection(dict1, dict4))
print(intersection(dict3, dict4))

[{'b': 13, 'c': 7}, {'b': 5, 'c': 8}]
[{'c': 7}, {'c': 9}]
[{}, {}]

 ## Problem 3 --- Subset Validation

 Write a function that returns True if all subsets in a list belong to a given set.

 - The empty set and the set itself are both valid subsets of a set (we are not talking about proper subsets here).

- The set and the subset will each have unique elements.

In [26]:
def validate_subsets(subsets, my_set):
  for i in subsets:
    for j in i:
      if j not in my_set:
        return False
      else:
        continue
  return True

In [27]:
# examples
print(validate_subsets([[1, 2], [2, 3], [1, 3]], [1, 2, 3]))
print(validate_subsets([[1, 2, 3], [2], [3], []], [1, 2, 3]))
print(validate_subsets([[1, 2], [2, 3], [1, 4]], [1, 2, 3]))
print(validate_subsets([[1, 2, 3, 4]], [1, 2, 3]))

True
True
False
False

## Problem 4 --- Anti Lists

Given two lists, return whether the two lists are opposites of each other. That means both lists are comprised only from elements a and b and the occurrences of these elements are swapped between the two lists. All tests will include only two different elements.

In [38]:
def is_anti_list(lst1, lst2):
  return all(lst1[i] != lst2[i] for i in range(len(lst1)))

In [42]:
# examples

print(is_anti_list(["1", "0", "0", "1"], ["0", "1", "1", "0"]))

print(is_anti_list(["apples", "bananas", "bananas"], ["bananas", "apples", "apples"]))

print(is_anti_list([3.14, True, 3.14], [3.14, False, 3.14]))

True
True
False

## Problem 5 --- Oddly or Evenly Positioned From Last

Create a lambda function that extracts the characters from a list (or a string) on odd or even positions, depending on the specifier. The string "odd" for items on odd positions (... 5, 3, 1) and "even" for even positions (... 6, 4, 2) from the last item of that list or string.

In [3]:
char_at_pos = lambda x, spec: ([x[i+1] for i in range(len(x)) if i % 2 == 0 and spec == 'odd'], [x[i] for i in range(len(x)) if i % 2 != 0 and spec == 'even'])

In [4]:
# expect outputs

print(char_at_pos([2, 4, 6, 8, 10], "even"))
# 4 & 8 occupy the 4th & 2nd positions from right.

print(char_at_pos("Haozhe", "odd"))
# "a", "z" and "e" occupy the 5th, 3rd and 1st positions from right.

print(char_at_pos([")", "(", "*", "&", "^", "%", "$", "#", "@", "!"], "odd"))

([], [4, 8])
(['a', 'z', 'e'], [])
(['(', '&', '%', '#', '!'], [])